<div class="col-lg-12 bgsection-2 fillHeight bigpadding">

    <div class="centered-container-admin">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary wow fadeInDown">Welcome Administrator, see what's new</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-4">
                <div class="admin-card col-lg-12 col-md-12">
                    <p class="admin-card-title">Review new members</p>
                    <div class="profile-container">
                        <div class="profile-review" ng-repeat="user in blockedUsers" >
                            <img class="img-circle" ng-src="{{user.AvatarUrl || '/Content/Images/avatar.png'}}" />
                            <p class="profile-review-name">{{user.Firstname}} {{user.Lastname}}</p>
                            <a href="#" ng-click="allowUser(user.Email)"><i class="fa fa-check"></i></a>
                            <a href="#" data-toggle="modal" data-target="#password-modal"><i class="fa fa-times cross"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="admin-card col-lg-12">

                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="admin-card col-lg-12"></div>
            </div>
        </div>

    </div>
</div>