<div ng-controller="AccountHomeController as account" class="col-lg-12 bgsection-2 fillHeight bigpadding">


    <div class="centered-container-big padding-none">

        <div class="upper-profile center-block text-center">
            <a href="#" data-toggle="modal" data-target="#password-modal"><i style="color: white; float: right; cursor: pointer" class="fa fa-key fa-2x"></i></a>
            <input type="file" id="profileImage" name="profileImage" style="display: none" ng-file-select="onFileSelect($files)"/>
            <img class="avatar-img" id="profile_click" ng-src="{{imageSrc || '/Content/Images/avatar.png'}}" ng-click="triggerUpload()"/>
            <p>Welcome, {{firstname}} {{lastname}}</p>
            <div class="small-text">{{username}}</div>
        </div>

        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">Analyses</li>
            <li class="tab-link" data-tab="tab-2">Organisations</li>

        </ul>

        <div id="tab-1" class="tab-content current">
            <div class="fh5co-blog-style-1" ng-if="!noAnalyses">
                <div>
                    <div class="row">
                        <div class="col-lg-3" ng-repeat="analysis in analyses" id="{{analysis.Id}}" name="{{analysis.Id}}" ng-click="selectAnalysis($event)">
                            <div class="fh5co-post">
                                <div class="fh5co-post-image">
                                    <div class="fh5co-overlay"></div>
                                    <img src="/Content/Images/random1.jpg" alt="Image">
                                </div>
                                <div class="fh5co-post-text">
                                    <h3><a href="#">{{analysis.Name}}</a>
                                    </h3>

                                    <p>{{analysis.CreatedBy.Email}}</p>
                                </div>
                                <div class="fh5co-post-meta">
                                    #{{analysis.Id}}<br/>
                                    <i class="fa fa-clock-o"></i> {{analysis.DateCreated}} ago
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                    </div>
                </div>
            </div>
            <div ng-if="noAnalyses">
                You have no analyses!
            </div>
            <a href="/analysis/start" class="button btn-sm">Create new Analysis</a>
        </div>
        <div id="tab-2" class="tab-content">
            <table class="table table-condensed" ng-if="!noOrganisations">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Organiser</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="organisation in organisations" id="{{organisation.Id}}" name="{{organisation.Id}}" ng-click="selectOrganisation($event)">
                    <td>{{organisation.Name}}</td>
                    <td>{{organisation.Organisator.Email}}</td>
                    <td><a href="/organisation/view/{{organisation.Id}}">View organisation</a></td>
                </tr>
                </tbody>
            </table>
            <div ng-if="noOrganisations">
                You aren't a member of an organisation!
            </div>
            <a href="/organisation/create" class="button btn-sm">Create new organisation</a>
        </div>







    </div>

    <div class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

        <div class="loginmodal-container password-container">
            <form name="changePasswordForm" novalidate ng-submit="account.submit(changePasswordForm.$valid)">
                <div class="error">{{message}}</div>
                <div>
                    <label class="modal-label">Current password</label>
                    <input type="password" placeholder="*********" name="currentPassword" class="form-control" ng-model="account.password.currentPassword" required/>
                </div>
                <div>
                    <label class="modal-label">New password</label>
                    <input type="password" placeholder="*********" name="newPassword" class="form-control" ng-model="account.password.newPassword" required/>
                </div>
                <div>
                    <div class="error" ng-messages="changePasswordForm.confirmPassword.$error">
                        <div ng-message="compareTo">Must match the previous entry</div>
                    </div>
                    <label class="modal-label">Confirm new password</label>
                    <input type="password" placeholder="*********" name="confirmPassword" class="form-control"
                           ng-model="account.password.confirmPassword"
                           required compare-to="account.password.newPassword"/>

                </div>
                <div>
                    <button type="submit" class="button small-button">save</button>

                </div>
                <div>
                    <i ng-if="success!==undefined" style="color: green" class="fa fa-check fa-2x"></i> {{success}}
                </div>
            </form>




        </div>
    </div>
</div>



