<div ng-controller="AccountHomeController as account" class="col-lg-12 bgsection-2 fillHeight bigpadding">


    <div class="centered-container">

        <div class="upper-profile center-block text-center">
            <input type="file" id="profileImage" name="profileImage" style="display: none" ng-file-select="onFileSelect($files)"/>
            <img class="avatar-img" id="profile_click" ng-src="{{imageSrc || '/Content/Images/avatar.png'}}" ng-click="triggerUpload()"/>
            <p>Welcome, {{firstname}} {{lastname}}</p>
            <div class="small-text">{{username}}</div>
        </div>
        <a href="#" data-toggle="modal" data-target="#password-modal">Log in</a>





        <a href="/analysis/start">Start your own analysis</a>
        <a href="/organisation/create">Create your own organisation</a>
        

    </div>

    <div class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        
            <div class="loginmodal-container password-container">
                <form name="changePasswordForm" novalidate ng-submit="account.submit(changePasswordForm.$valid)" >
                    <div class="error">{{message}}</div>
                    <div>
                        <label>Current password</label>
                        <input type="password" placeholder="*********" name="currentPassword" class="form-control" ng-model="account.password.currentPassword" required />
                    </div>
                    <div>
                        <label>New password</label>
                        <input type="password" placeholder="*********" name="newPassword" class="form-control" ng-model="account.password.newPassword" required />
                    </div>
                    <div>
                        <div class="error" ng-messages="changePasswordForm.confirmPassword.$error">
                            <div ng-message="compareTo">Must match the previous entry</div>
                        </div>
                        <label>Confirm new password</label>
                        <input type="password" placeholder="*********" name="confirmPassword" class="form-control"
                               ng-model="account.password.confirmPassword"
                               required compare-to="account.password.newPassword"/>

                    </div>
                    <div>
                        <button type="submit" class="button small-button">save</button>
                    </div>

                </form>
                
                
                
            
        </div>
    </div>
</div>
