
<div class="centered-container" ng-controller="RegistrationController as registration">
    <h1>Register</h1>
    <h3>{{ registration.message }}</h3>
    <form name="registrationForm" novalidate
          ng-submit="registration.submit(registrationForm.$valid)">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <label>Firstname</label>
            <input type="text" name="firstname" class="form-control input-lg" ng-model="registration.user.firstname" required/>
            <div class="messages" ng-messages="registrationForm.firstname.$error">
                <div ng-message="required">Required</div>
            </div>

            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" ng-model="registration.user.lastname" class="form-control input-lg" id="lastname" required/>
            <div class="messages" ng-messages="registrationForm.lastname.$error">
                <div ng-message="required">Required</div>
            </div>
        </div>
        <div>
            <input type="file" id="profileImage" name="profileImage" ng-model="registration.user.picture" style="display: none" ng-file-select="onFileSelect($files)" />

            <div class="col-xs-6 col-sm-6 col-md-6">
                <div style="">
                    <img class="avatar-img" id="profile_click" ng-src="{{imageSrc || '/Content/Images/avatar.png'}}" ng-click="triggerUpload()" />
                </div>
                <b>Progress:</b>
                <progress value="{{progress}}"></progress>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <label for="email">Email</label>
            <input type="text" name="email" ng-model="registration.user.email" class="form-control input-lg" id="email" required />
            <div class="messages" ng-messages="registrationForm.email.$error">
                <div ng-message="required">Required</div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <label>Password</label>
            <input type="password" name="password" class="form-control input-lg" ng-model="registration.user.password" required />
            <div class="messages" ng-messages="registrationForm.password.$error">
                <div ng-message="required">Required</div>
            </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control input-lg"
                   ng-model="registration.user.confirmPassword"
                   required compare-to="registration.user.password" />
            <div class="messages" ng-messages="registrationForm.confirmPassword.$error">
                <div ng-message="required">Required</div>
                <div ng-message="compareTo">Must match the previous entry</div>
            </div>
        </div>
        <div class="col-xs-8">
            <button type="submit" class="btn btn-primary">Register!</button>
        </div>
    </form>
</div>