<div class="body-container" ng-controller="RegistrationController as registration">
    <h1>Register</h1>
    <h3>{{ registration.message }}</h3>
    <form name="registrationForm" novalidate
          ng-submit="registration.submit(registrationForm.$valid)">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <label>Firstname</label>
            <input type="text" name="firstname" class="form-control input-lg" ng-model="registration.user.firstname" required/>
            <div ng-messages="registrationForm.firstname.$error">
                <div ng-message="required">Required</div>
            </div>
        </div>
        <input type="file" id="profileImage" name="profileImage" style="display: none" />

        <div class="col-xs-6 col-sm-6 col-md-6">
            <div style="">
                <img id="profile_click" src="/Content/Images/avatar.png" style="width:280px;height:280px;" />
            </div>
        </div>
        <div >
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" ng-model="registration.user.lastname" class="form-control input-lg" id="lastname" required/>
            <div ng-messages="registrationForm.lastname.$error">
                <div ng-message="required">Required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" ng-model="registration.user.email" class="form-control input-lg" id="email" required />
            <div ng-messages="registrationForm.email.$error">
                <div ng-message="required">Required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control input-lg" ng-model="registration.user.password" required />
            <div ng-messages="registrationForm.password.$error">
                <div ng-message="required">Required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control input-lg"
                   ng-model="registration.user.confirmPassword"
                   required compare-to="registration.user.password" />
            <div ng-messages="registrationForm.confirmPassword.$error">
                <div ng-message="required">Required</div>
                <div ng-message="compareTo">Must match the previous entry</div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register!</button>
        </div>
    </form>
</div>