<header class="sections" id="section-1">
    <div class="header-content">

        <div class="fh5co-cover-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-push-6 col-md-6 full-height js-full-height">
                        <div class="fh5co-cover-intro">
                            <h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Sustainable Solvents</h1>
                            <h2 id="js-rotating" class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                                Sussol is a research project by two departments of the Karel de Grote University College of Antwerp (Belgium),
                                An easy to use solvent clusterer platform that is based on Machine Learning algorithms of the WeKa engine,
                                We look for alternative sustainable solvents to replace solvents that are not biodegradable or carcinogenic,
                                Using unsupervised learning our system models existing solvents into meaningful clusters,
                                A new candidate solvent can then be offered to the models and will be classified into the most appropriate cluster,
                                You can create your own organisation and share your results with your colleagues,
                                The project is a collaboration between the Applied Informatics department and the Chemical department of Karel de Grote University College
                            </h2>
                            <ul class="list-inline">
                                <li class="col-md-6"><a class="page-scroll button" href="#one">Explore</a></li>
                                <li class="col-md-6"><a class="button" href="#" data-toggle="modal" data-target="#login-modal" ng-if="username===undefined">Log In</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
            <a class="page-scroll" href="#section-2">
                <span class="mouse"><span></span></span>
            </a>
        </span>
    <video autoplay="autoplay" loop="loop" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.7s" poster="/Content/Images/full_4.jpg" id="video-background">
        <source src="/Content/Images/animation.m4v" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>

</header>
<div class="fh5co-project-style-2" id="section-0">
    <div class="container container-special ">
        
            <div class="col-lg-12 text-center">
                <h1 class="margin-top-0 text-primary wow fadeInDown">Why Sussol?</h1>
                <hr class="primary">
            </div>
       
    </div>
    <div class="fh5co-projects">
        
        <ul>
            <li class="wow fadeInUp"  data-wow-duration="0.7s" data-wow-delay="0.4s" data-stellar-background-ratio="0.5">
                <a href="#">
                    <div class="fh5co-overlay"></div>
                    <div class="container">
                        <div class="fh5co-text">
                            <div class="fh5co-text-inner">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>The big problem</h3>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Solvents are used in many industrial environments like cleaning products, paint and chemical solutions. Traditional Solvents can be toxical, flammable and not renewable. The searching process for alternatives to these traditional solvents requires a lot of time and people. Moreover, knowledge is needed about the chemical and physical properties of these solvents, but this knowledge isn't always available to the businesses.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="wow fadeInUp"  data-wow-duration="0.7s" data-wow-delay="0.4s" data-stellar-background-ratio="0.5">
                <a href="#">
                    <div class="fh5co-overlay"></div>
                    <div class="container">
                        <div class="fh5co-text">
                            <div class="fh5co-text-inner">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Our Goal</h3>
                                    </div>
                                    <div class="col-md-6">
                                        <p>In this project we are working on a solvent substitution tool by applying Machine Learning algorithms to a two-dimensional matrix of solvents. Machine learning algorithms are able to cluster big amounts of multidimensional data in groups based on matching characteristics. With this tool companys can evaluate their new candidate solvents in an easy, less time-consuming way. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>
    <div class="sections bgsection" id="section-2">
        <section id="one" style="background-color: rgba(0, 0, 0, 0.2)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="margin-top-0 text-primary wow fadeInDown">Explore the magic algorithms</h1>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm-4 wow fadeInLeft text-center">
                        <div class="box-icon rotate">
                            <i class="fa fa-tachometer fa-4x"></i>
                        </div>
                        <h3>K Means</h3>
                        <p class="lead">The K Means algorithm is the mother of all clustering algorithms. It starts off with a pre-specified number of clustercenters and iteratively adapts the clusters based on the training data. </p>

                    </div>
                    
                    <div class="col-sm-4 wow fadeInLeft text-center">
                        <div class="box-icon rotate">
                            <i class="fa fa-cogs fa-4x"></i>
                        </div>
                        <h3>Canopy</h3>
                        <p class="lead">The Canopy algorithm is intended to speed up clustering operations on large data sets. It works in 2 phases. In the first run it generates a rough clustering of the data. In the second run, the clusters are finetuned, mostly using the K Means algorithm. </p>
                    </div>
                    <div class="col-sm-4 wow fadeInLeft text-center">
                        <div class="box-icon rotate">
                            <i class="fa fa-bug fa-4x"></i>
                        </div>
                        <h3>X Means</h3>
                        <p class="lead">The X Means algorithm is a variant on K Means, without a pre-specified number of clusters. It uses the Bayes Information Criterion to guide the choice of the best clustering model during training.</p>
                    </div>
                    

                    

                </div>

                <div class="row" style="margin-top: 50px;">
                    <div class="col-sm-6 wow fadeInRight text-center">
                        <div class="box-icon rotate">
                            <i class="fa fa-wrench fa-4x"></i>
                        </div>
                        <h3>Expectation Maximization</h3>
                        <p class="lead">The Expectancy Maximization algorithm is based on the statistics of the dataset. It is a good choice for datasets that contain many missing data. It clusters the dataset in random clusters and iteratively changes the clusters, trying to improve the log-likelihood of the resulting clusterset. </p>

                    </div>
                    <div class="col-sm-6  wow fadeInRight text-center">
                        <div class="box-icon rotate">
                            <i class="fa fa-sitemap fa-4x"></i>
                        </div>
                        <h3>Self Organising Map</h3>
                        <p class="lead">The Self Organising Map is an artificial neural network that clusters datasets by adapting the weights of the clustercenters. The algorithm is based on how real human neurons process visual information. It performs a topological mapping.</p>

                    </div>


                    

                </div>
            </div>

        </section>
        <section id="section-3" class="sections">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1 class="margin-top-0 text-primary wow fadeInDown">This is how it works</h1>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-first">
                        <img src="/Content/Images/computer-and-books-studying-tools.svg" alt="Picture">
                    </div>
                    <div class="cd-timeline-content">
                        <h2>WeKa Engine</h2>
                        <p>In this project we are working with the open source WeKa Machine Learning Engine. Weka is a collection of machine learning algorithms for data mining tasks and analyses. Weka contains tools for data pre-processing, classification, regression, clustering, association rules, and visualization.</p>
                        <a href="https://weka.wikispaces.com/" class="cd-read-more">Read more</a>
                        <span class="cd-date">Weka</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-second">
                        <img src="/Content/Images/java-logo.svg" alt="Movie">
                    </div>
                    <div class="cd-timeline-content">
                        <h2>Producer Web Service</h2>
                        <p>
                            We integrated the WeKa library in our own Java Application and built a Webservice shell around it. Now you can access the algorithms with a few simple API-calls.
                        </p>
                        <a href="http://api-sussolkdg.rhcloud.com/" class="cd-read-more">Read more</a>
                        <span class="cd-date">Producer</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-third">
                        <img src="/Content/Images/worker-digging-a-hole.svg" alt="Picture">
                    </div>
                    <div class="cd-timeline-content">
                        <h2>Pre-processing</h2>
                        <p>
                            Data pre-processing is a very important step in the data mining process. It includes tasks like cleaning, normalization, selection, ... We use a data matrix containing 6070 solvents with each 48 physical and/or chemical, 25 (eco) toxologic, 19 CLP regulation symbols and 204 H/P/EUH features. This data set is cleaned and transformed into the correct WeKa format.
                        </p>
                        <span class="cd-date">Data processing</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-fourth">
                        <img src="/Content/Images/educational-book.svg" alt="Location">
                    </div>
                    <div class="cd-timeline-content">
                        <h2>Learning process</h2>
                        <p>
                            The pre-processed data is the training that is offered to 5 unsupervised learning algorithms : K Means, Canopy, X Means, the Expectancy Maximization algorithm and the Self Organising Map neural network.
                        </p>
                      
                        <span class="cd-date">Learning process</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-fifth">
                        <img src="/Content/Images/presentation.svg" alt="Location">
                    </div>
                    <div class="cd-timeline-content">
                        <h2>Learning Model</h2>
                        <p>The result of the learning process is a ‘model’. A model is a knowledge representation that has been learned by the algorithm. It contains cluster and solvent information. The model can then be visualised showing the classification of the solvents of the training set.</p>
                        <a href="#0" class="cd-read-more">Read more</a>
                        <span class="cd-date">Model</span>
                    </div>
                </div>
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-sixth">
                        <img src="/Content/Images/molecule.svg" alt="Movie">
                    </div>
                    <div class="cd-timeline-content">
                        <h2>Classify my own solvent</h2>
                        <p>The model can also be used to offer a new solvent for classification. The solvent will be classified, using a specific algorithm, into the most applicable cluster. Additional information on the sustainability and other parameters of the new solvent can then be rendered, based on the cluster it is allocated to. </p>
                        <span class="cd-date">Classify</span>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <div id="section-4" class="sections footer bg-primary">
        <div class="container">
            <div class="row p-b">
                <div class="col-md-3 col-sm-6 footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="logo"><img src="/Content/Images/logonegative.png" alt="logo" /></div>
                    <p class="copyright">
                        &copy; 2016 Sustainable Solvents. <br>All Rights Reserved. <br>Designed by J. Jordan & L. Boeckx <br>Students Karel de Grote Hogeschool Antwerp <br>
                        Images: <a target="_blank" href="http://unsplash.com/">Shutterstock</a>, <a target="_blank" href="http://pexels.com/">Splitshire</a>
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                    <h3>Who are we</h3>
                    <ul class="links">
                        <li><a href="https://www.kdg.be/">Karel de Grote Hogeschool</a></li>
                        <li><a href="http://qframe.be/">QFrame Kontich</a></li>
                        <li><a href="https://www.linkedin.com/">Jonah Jordan</a></li>
                        <li><a href="https://www.linkedin.com/">Lennart Boeckx</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6 footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    <h3>Connect</h3>
                    <ul class="links">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">LinkedIn</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
                    <h3>About</h3>
                    <p>This project is the thesis of two final year students at Karel de Grote University College Antwerp. This project was made during an internship at QFrame .NET Quality Solutions.</p>

                </div>
                <div class="clearfix visible-sm-block"></div>
            </div>
            <div class="row made">
                <div class="col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <p>Made with so much  <i class="fa fa-heart" style="color: #E74C3C"></i>  by Jonah and Lennart.</p>
                </div>
            </div>
        </div>
    </div>
