.angucomplete-holder {
    position: absolute;
    right: 17px;
    width: 50px;
    transition: all 0.5s ease-in-out;
    
    
}
.angucomplete-holder input{
    background-color: transparent;
    background: url(/Content/Images/magnifying-glass.png) no-repeat scroll 14px 8px;
    border: 1px solid grey;
    height: 35px;
    padding-left: 40px;
    width: 100%;
    color: white;
}
.angucomplete-holder input:hover{
    border-color: darkgray;
}
.angucomplete-holder input:focus{
    background-color: transparent;
    outline: none;
    color: white;
    border-color: darkgray;
}
.angucomplete-dropdown {
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    text-align: left;
    margin-top: -6px;
    background-color: #ffffff;
    overflow-y: auto;
    max-height: 200px;
}


.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 12px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.angucomplete-selected-row {
    background-color: rgba(128,0,128,0.7);
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}