@import url(https://fonts.googleapis.com/css?family=Questrial);
ol.even {
  position: relative;
  left: 9em;
}
ol.odd {
  position: relative;
  margin-top: -6.5%;
  margin-bottom: -6.5%;
}
.margin {
    margin-top: 65px;
}

.hb {
    cursor: pointer;
	display: inline-block;
	position:relative;
	text-align: center; /*  Default text align center */
	z-index: 0;
    font-family: 'Questrial', 'Roboto';
}

.hb:before,
.hb:after {
	position: absolute;
	content: "";  
	left: -1px;
	top: 0;
	z-index: -1;
}

.hb:before {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	transform: rotate(60deg);
}

.hb:after {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hb i {
	z-index: 9;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}


.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 15;
}

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 100%;
}

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 2px;
  height: 13px;
  margin: -2px 0 0 -1px;
  background: white;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}


/* 2.1 - Default Button style End
-------------------------------------------------*/



/* 2.2 - Large Button style 
-------------------------------------------------*/

.hb-lg {
    line-height: 100px;
	font-size: 40px;
    text-transform: lowercase;
    margin: 60px 10px 60px 10px;  
	  
}
.hb-lg ,
.hb-lg:before,
.hb-lg:after { 
	height: 102.46px;
	width: 177.23px; 
} 

@media(max-width: 768px) {
    
    .hb-lg {
	
	font-size: 50px;
    margin: 25px 10px 25px 10px;    
    }    
    .margin {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media(max-width: 478px) {
    .hb-lg {
	
    margin: 60px 10px 60px 10px;    
    }    
    .margin {
        margin-top: 10px;
    }
}
/* 2.2 - Large Button style  End
-------------------------------------------------*/



/* 2.3 - Medium Button style 
-------------------------------------------------*/

.hb-md {
	line-height: 74px;
	font-size: 74px;
	margin: 37px 0px; /* Original output, margin 0 of the button */ 
	/*margin: 52px 15px;*/ /* New output, margin 15px of the button,  37 + 15 = 52 */ 
}
.hb-md ,
.hb-md:before ,
.hb-md:after {
	height: 74px;
	width: 128px; 
} 

/* 2.3 - Medium Button style End
-------------------------------------------------*/



/* 2.4 - Small Button style 
-------------------------------------------------*/

.hb-sm {
	line-height: 37px;
	font-size: 37px;
	margin: 18.5px 0px; /* Original output, margin 0 of the button */ 
	/*margin: 33.5px 15px;*/ /* New output, margin 15px of the button,  18.5 + 15 = 33.5 */ 
	
}
.hb-sm ,
.hb-sm:before ,
.hb-sm:after {
	height: 37px;
	width: 64px; 
} 

/* 2.4 - Small Button style  End
-------------------------------------------------*/



/* 2.5 - Extra Small Button style 
-------------------------------------------------*/
.hb-xs {
	line-height: 18.5px;
	font-size: 18.5px;
	margin: 9.5px 0px; /* Original output, margin 0 of the button */ 
	/*margin: 33.5px 15px;*/ /* New output, margin 15px of the button,  9.5 + 15 = 24.5 */ 
}
.hb-xs ,
.hb-xs:before ,
.hb-xs:after {
	height:18.5px;
	width:32px; 
}

/* 2.5 - Extra Small Button style  End
-------------------------------------------------*/



/* 2.0 - Button style End
------------------------------------------------------------------------*/



/* 3.0 - Margin of hexagon
------------------------------------------------------------------------*/
.hb-lg-margin {
	margin: 15px;
}
.hb-md-margin {
	margin: 15px;
}
.hb-sm-margin {
	margin: 15px;
}
.hb-xs-margin {
	margin: 15px;
}
.hb-lg-margin,
.hb-md-margin,
.hb-sm-margin,
.hb-xs-margin {
	display: inline-block;
	overflow: hidden;
}
.hb-lg-margin {
	height: 296px;
	width: 256px;
}
.hb-md-margin {
	height: 148px;
	width: 128px;
}
.hb-sm-margin {
	height: 74px;
	width: 64px;
}
.hb-xs-margin {
	height: 38px;
	width: 32px;
}

/* 3.0 - Margin of hexagon End
------------------------------------------------------------------------*/



/* 4.0 - Buttons Effects
------------------------------------------------------------------------*/
.spin,
.spin-icon i {
	-webkit-transition: -webkid-transform .25s  ease;
	   -moz-transition: -moz-transform .25s  ease;
	    -ms-transition: -ms-transform .25s  ease;
	     -o-transition: -o-transform .25s  ease;
	        transition: transform .25s  ease;
}

.spin-icon:hover i,
.spin:hover {
	-webkit-transform:rotate(360deg);
	   -moz-transform:rotate(360deg);
	    -ms-transform:rotate(360deg);
	     -o-transform:rotate(360deg);
			transform:rotate(360deg);	
}

@media(min-width: 1000px) {
    .hb,
    .hb:before,
    .hb:after {
        -webkit-transition: -webkid-transform .55s  ease-in-out;
	   -moz-transition: -moz-transform .55s  ease-in-out;
	    -ms-transition: -ms-transform .55s  ease-in-out;
	     -o-transition: -o-transform .55s  ease-in-out;
	        transition: transform .55s  ease-in-out;
        
    }
        .hb:hover,
        .hb:hover:before,
        .hb:hover:after {
            -webkit-transform:scale(1.1);
	   -moz-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	     -o-transform:scale(1.1);
			transform:scale(1.1);	
            
        }
    
}

.hb,
.hb:before,
.hb:after {
	background-color: transparent;  /*  Default background color  */ 
	border-left:1px solid whitesmoke;
	border-right:1px solid whitesmoke;
	color: #2ecc71; /* Default font color */
    
}

.hb:hover,
.hb:hover:before,
.hb:hover:after {
  
	background-color: transparent;  
	border-left:2px solid whitesmoke;
	border-right:2px solid whitesmoke;  
	color: #2ecc71; /* Default hover font color */
}

.hb-custom,
.hb-custom:before,
.hb-custom:after {
	background: #f39c12 !important;  /*  Custom background color  */
	color: white!important; /* Custom font color */
	/*font-size:20px;*/ /* Custom font size */
	border-left:1px solid #f39c12 !important;;
	border-right:1px solid #f39c12 !important;; 
}
