

@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%;
    height: 100%;
   
}
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.7); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.5); 
}
body {
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #282828;
    color: #d3d3d3;
    webkit-tap-highlight-color: #222;
}

hr {
    max-width: 80px;
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #9c27b0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    color: #eee;
    background-color: #222;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #9c27b0;
}

.modal-content {
    background-color: #1d1d1d;
}

section {
    padding: 70px 0;
}

aside {
    padding: 50px 0;
}

footer {
    padding: 15px;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(35,35,35,.05);
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    background-color: #222;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
#registrationSucces {
    width: 90%;
    display: block;
    margin: 0 auto;
}
#registrationSucces img {
    width: 160px; height: 160px; margin-top: 16%;
}
#registrationSucces h3 {
    margin-top: 40px;
}
#registrationSucces .button {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    padding: 15px;
}

.navbar-header > .navbar-brand {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
    color: #9c27b0;
    padding: 12px !important;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

 .navbar-header > .navbar-brand > img{
        height: 38px;
        width: 190px;
    }
.navbar-header > .navbar-brand:hover,
.navbar-header > .navbar-brand:focus {
    color: #8b27b0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #181818;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}


.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #9c27b0;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #9c27b0 !important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover
{
    background-color: transparent;
}
.box-icon {
	height: 150px;
	width: 150px;
	-moz-border-radius: 35px;
	border-radius: 100%;
	padding: 47px 10px;
	background-color: #f0f1ec;
	color: #034b81;
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin: 0 auto;
}

.box-icon:hover {
	background-color: #9c27c1;
	color: #fff;
    cursor: pointer;
}

.algorithm-icon {
    margin-left: 20px;
    margin-right: 20px;
}

::selection{
  background: black;
}
.button {
  /* border: 1px solid #3079ed; */
  border: 1.75px solid white;
  color: #fff;
  font-family: 'Questrial', 'Roboto';
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: transparent;
    padding: 21px;
  font-size: 20px;
  letter-spacing: 3px;
   text-transform: lowercase;
  border-radius: 6px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
    cursor: pointer;
    display: block;
    width: 300px;
    margin: 10px;
  color: white;
    text-decoration: none;
}
.button > a {
    color: white;
    text-decoration: none;
}
.fillHeight {
    min-height: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: auto;
}


.small-button {
      /* border: 1px solid #3079ed; */
  border: 1.75px solid white;
  color: #fff;
  font-family: 'Questrial', 'Roboto';
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: transparent;
  font-size: 17px;
  letter-spacing: 3px;
   text-transform: lowercase;
  border-radius: 6px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
    padding: 2px;
    
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 25px 10px 10px 0px;
}
.button-right {
  /* border: 1px solid #3079ed; */
  border: 1.75px solid white;
  color: #fff;
  font-family: 'Questrial', 'Roboto';
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: transparent;
    text-align: center;
    padding: 10px;
  font-size: 20px;
  letter-spacing: 3px;
   text-transform: lowercase;
  border-radius: 6px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
    cursor: pointer;
    display: block;
    width: 300px;
    margin: 10px;
    margin-top: 50px;
    color: white;
    float: right;
    text-decoration: none;
}
.button-right.disabled {
  /* border: 1px solid #3079ed; */
    border: 1.75px solid lightgray;
    color: lightgray;
    pointer-events: none;
    cursor: default;
}

.button:hover, .button-right:hover , .small-button:hover {
  border: 1.75px solid white;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: rgba(255,255,255,0.5);
    text-decoration: none;
    color: white;
}
.button:focus, .button-right:hover ,.small-button:focus {
    outline: 0;
    text-decoration: none;
    color: white;
}


@media(min-width:768px) {
    .navbar-default {
        border-color: transparent;
        background-color: transparent;
        min-height: 60px;
    }
 

    .navbar-header > .navbar-brand {
        color: rgba(255,255,255,0.7);
        
    }
   

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #f4f4f4;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,0.8);
        padding: 20px;
        letter-spacing: 1.1px;
        text-shadow: 1px 1px 1px rgba(60,60,60,0.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fefefe;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #222;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 15px;
        color: #9c27b0;
        padding: 20px;
        letter-spacing: 1px;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #8b27b0;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #ddd;
        text-shadow: 1px 1px 1px rgba(30,30,30,0.7);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #9c27b0;
    }
}
.upper-profile {
    width: 100%;
    height: 350px;
    overflow: hidden;
    
    padding: 2.5%;
    text-align: center;
    margin-top: 0px;
    background-image: url('Images/blur.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    
}

.upper-profile > p {
    color: white;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 30px;
} 
.upper-profile .small-text {
    font-size: 21px;
    color: white;
    margin-top: 0px;
}
.bgsection {
    background-image: url('Images/howto.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}
.bgsection-2 {
    background-image: url('Images/howto.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}
.modal-label {
    font-family: "Questrial";
    color: white;
}
header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    background-image: url('Images/full_4.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}
header .header-content .inner img {
    -ms-opacity: 0.7;
    opacity: 0.7;
    
    width: 20%;
    padding: 25px;
    
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}

#video-background.collapsing {
  display:none;
}
.four-o-four {
    font-family: 'Roboto';
    font-size: 200px;
    text-align: center;

}
footer {
    background-color:#2d2d2d;
}
@media(max-width: 768px) {
    .navbar-header > .navbar-brand {
        padding: 10px!important;   
    }
 
}
@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }
      
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 48%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;

    }
    
    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.form-control {
    height: 44px;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    padding-left: 5px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: rgba(255,255,255,0.) !important;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    color: grey;
    transition: all .5s;
    display: block;
    cursor: pointer;
}

.form-control:hover {
    border: 1px solid black;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.form-control:focus {
    color: #222;
    background-color: #ccc;
    box-shadow: none;
    cursor: auto;
    outline: 0;
}

textarea {
    resize: none;
}

.margin-top-0 {
    margin-top: 0;
}

.feature {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .feature {
        margin: 20px auto 0;
    }
 
}
@media(max-width: 1000px) {
       .fillHeight {
           height: auto;
            min-height: 120%;
        }
       
}

.feature p {
    margin-bottom: 0;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}


.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.header-title {
    font-size: 34px;
    width: 70%;
    font-family: "Questrial";
    margin: 0 auto;
    display: block;
    
}
.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
    opacity: 0.7;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
    opacity: 0.7;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn.btn-primary {
    background-color: transparent;
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn {
    border: 0;
    border-radius: 290px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}
.morphext > .animated {
    display: inline-block;
}
::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}
.avatar-img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 2px solid white;
    margin: 0 auto;
    
    display: block;
    cursor: pointer;
}
.avatar-img:hover {
    border: 2px solid lightblue;
}
progress {
    margin: 0 auto;
    background-color: transparent;
    border: 0;
    width: 150px;
    display: block;
    margin-top: 20px;
    height: 10px;
}
.centered-container {
    display: block;
    width: 60%;
    padding-bottom: 40px;
    margin: 0 auto;
    
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: auto;
    background-color: rgba(205, 205, 205, 0.6);
    border-radius: 8px;
    overflow: auto;
    min-width: 410px;
}
.centered-container-big {
    display: block;
    width: 70%;
    padding: 40px 80px 80px 80px;
    margin: 0 auto;
    
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: auto;
    background-color: rgba(205, 205, 205, 0.6);
    border-radius: 8px;
    overflow: hidden;
    min-width: 480px;
}
.padding-container {
    padding: 40px 80px 80px 80px;
}
.bigpadding {
    padding-top: 75px;
    padding-bottom: 50px;
   
}


.account-page {
    border-radius: 25px;
    border: 1px solid grey;
    padding: 10px;
    height: 400px;
}
.footer {
  background: #262626;
  font-size: 15px;
}
.footer .footer-widget {
  margin-bottom: 30px;
}
.footer .logo {
  color: #fff;
  font-size: 24px;
  font-family: "Montserrat", Arial, sans-serif;
  margin-bottom: 40px;
}
.footer .logo > img{
    width: 200px;
}
.footer .copyright {
  font-size: 15px;
}
.footer h3 {
  color: #fff;
  font-family: "Questrial", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .footer h3 {
    margin-bottom: 20px;
  }
}
.footer p {
  color: rgba(255, 255, 255, 0.5);
}
.footer a {
    text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
.footer a:hover {
  color: white;
}

.footer .links {
  padding: 0;
  margin: 0;
}
.footer {
  padding: 5em 0;
}
.footer .links li {
    padding: 1px;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 3em 0;
  }
}

.footer .links.social .icon {
  font-size: 17px;
  margin-right: 5px;
  top: 2px;
    
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.footer .made {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 4em;
}
.footer .made p {
  font-family: "QUestrial", Arial, sans-serif;
  font-size: 24px;
}
.footer .made p:last-child {
  margin-bottom: 0;
}
.error {
    color: red;
}
form.ng-submitted .ng-invalid {
  border-color: red;
  border-width: 1px;
} 
form.ng-submitted .ng-valid {
  border-color: green;
  border-width: 1px;
} 

.padding-none {
    padding: 0 !important;
}
.purple{
     background-color:purple;
}

.selectAlgorithm {
    float: right; 
    margin-top: 50px; 
    font-size: 20px; 
    background: none; 
    border: none;
}

.previousAlgorithm {
    float: left;
    color: white;
    margin-top: 50px; 
    font-size: 20px; 
    background: none; 
    border: none;
}

.rotate180deg {
    -webkit-transform: rotate(180deg);
}