<html ng-app="sussol">
    <head>
        <title></title>
        <meta charset="utf-8"/>
        <base href="/"/>
        <link href="content/css/bootstrap.min.css" rel="stylesheet" />
        <link href="content/css/site.css" rel="stylesheet" />
        <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
        <script type="text/javascript" src="~/Scripts/Controllers/app.js"></script>
        <script type="text/javascript" src="~/Scripts/Controllers/AccountController.js"></script>
        <script type="text/javascript" src="~/Scripts/Controllers/LoginController.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-route.min.js"></script>
        <script type="text/javascript" src="~/Scripts/ngStorage.min.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-messages.min.js"></script>
    </head>
<body>
    <div data-ng-view=""></div>
</body>
</html>