<div class="col-lg-12 bgsection-2 fillHeight bigpadding" style="min-width: 840px;" >
    
        <div class="row" style="margin-top: 5px;">
            <div class="col-lg-12 text-center">
                <h1 class="margin-top-0 text-primary wow fadeInDown" style="font-size: 32px">Your solvent cluster result</h1>
                <hr class="primary">
            </div>
        </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-cluster-info">
        <div >
            <div class="analysis-header">
                <h1>{{analysisName}}</h1>
                <h4>{{models[0].Model.NumberOfSolvents}} Solvents - {{models[0].Model.NumberOfFeatures}} Features</h4>
            </div>
            <div class="analysis-settings" ng-if="canEdit">
                <ul style="list-style: none;">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#changeName-model"><i style="color: white; cursor: pointer;" class="fa fa-cog fa-2x"></i></a>
                    </li>
                    <li style="margin-top: 10px;">
                        <a href="#" data-toggle="modal" data-target="#organisation-model"><i style="color: white; cursor: pointer" class="fa fa-share fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  bhoechie-tab-container">
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
            <div class="list-group">
                <a href="#" id="CANOPY" class="list-group-item disabled blurless text-center">
                    <h4 class="fa fa-cogs fa-2x"></h4><br/>CANOPY
                </a>
                <a href="#" id="EM" class="list-group-item disabled blurless text-center">
                    <h4 class="fa fa-wrench fa-2x"></h4><br/>EM
                </a>
                <a href="#" id="KMEANS" class="list-group-item disabled blurless text-center">
                    <h4 class="fa fa-tachometer fa-2x"></h4><br/>KMEANS
                </a>

                <a href="#" id="SOM" class="list-group-item disabled blurless text-center">
                    <h4 class="fa fa-sitemap fa-2x"></h4><br/>SOM
                </a>
                <a href="#" id="XMEANS" class="list-group-item disabled blurless text-center">
                    <h4 class="fa fa-xing fa-2x"></h4><br/>XMEANS
                </a>

            </div>
        </div>
        <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10 bhoechie-tab" ng-repeat="model in models">

            <div class="bhoechie-tab-content" id="{{model.Model.AlgorithmName}}_CONTENT">


                <div class="row padding-less">
                    <div class="col-lg-12 col-md-12 grid grid-top text-nowrap">
                        <div class="progress-box" ng-style="{width: ((100/model.Model.Clusters.length)) + '%'}" ng-repeat="cluster in model.Model.Clusters">
                            <h4 class="text-primary" style="margin: 0 0 8px 0;">Cluster {{$index}}</h4>
                            <div class="circle-container" id="circle-{{model.Model.AlgorithmName}}-{{$index}}">

                            </div>
                            <p style="color: grey">% of total solvents</p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 padding-less">
                        <div class="grid grid-graph col-lg-12 text-center">
                            <h3 class="text-primary">Solvent Cluster Graph</h3>

                            <div id="chartContainer_{{model.Model.AlgorithmName}}" class="chartContainer">
                            </div>

                            <div class="not-visible" id="overlay_{{model.Model.AlgorithmName}}">
                                <div class="closecross" style="cursor: pointer" ng-click="closeOverlay(model.Model.AlgorithmName)">X</div>
                                <div class="col-lg-3" style="text-align: initial; position: absolute; color: white">
                                    <h4>Cluster: {{cluster}}</h4>
                                    <h4>#Solvents: {{solventsInCluster.length}}</h4>
                                    <div class="solvent-legend">
                                        <div>
                                            <img src="/Content/Images/clusterball.png" style="width: 22px; height: 22px; margin-right: 8px;"/>
                                            <p style="display: inline">Clustercenter</p>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <img src="/Content/Images/solventball.png" style="width: 22px; height: 22px; margin-right: 8px;"/>
                                            <p style="display: inline">Solvent</p>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <img src="/Content/Images/farrestsolvent.png" style="width: 22px; height: 22px; margin-right: 8px;"/>
                                            <p style="display: inline">Farrest Solvent</p>
                                        </div>
                                        <div style="margin-top: 10px;">
                                            <img src="/Content/Images/closestsolvent.png" style="width: 22px; height: 22px; margin-right: 8px;"/>
                                            <p style="display: inline">Closest Solvent</p>
                                        </div>
                                    </div>
                                </div>
                                <svg id="clusterChart_{{model.Model.AlgorithmName}}"></svg>
                                <div class="selected-node" id="selected-node-{{model.Model.AlgorithmName}}">
                                    No solvent selected <br/> Click on a node
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 padding-less">
                        <div class="grid grid-right col-lg-12" style="overflow: scroll; color: black; font-size: 15px; padding-left: 20px; padding-right: 15px;">
                            <div angucomplete-alt
                                 id="ex1"
                                 placeholder="Search solvent"
                                 maxlength="50"
                                 pause="100"

                                 selected-object="selectedSolventFunc"
                                 local-data="solvents"
                                 search-fields="Name"
                                 title-field="Name"
                                 minlength="1"
                                 input-class="form-control form-control-small"
                                 style="margin-top: 12px; display: block; width: 100%"
                                 match-class="highlight"
                                 clear-selected="true"></div>
                            <h4 ng-if="selectedSolvent">Solvent: {{selectedSolvent.Name}}</h4>
                            <table ng-if="selectedSolvent">
                                <tr>
                                    <th style="padding-left: 15px">Feature name</th>
                                    <th style="padding-left: 15px">Value</th>
                                </tr>
                                <tr ng-repeat="feature in selectedSolvent.Features">
                                    <td style="padding-left: 15px">{{feature.FeatureName}}</td>
                                    <td style="padding-left: 15px">{{feature.Value}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="modal fade" id="organisation-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="loginmodal-container password-container">
                <h1>Share your analysis with an organisation</h1>
                <div>
                    <select class="styled-select"
                            ng-model="selectedOrganisation"
                            ng-init="selectedOrganisation = organisationsUser[0]" 
                            ng-options="organisation.Name for organisation in organisationsUser">
                    </select>
                    <button class="login loginmodal-submit" style="width: 100%;" ng-click="shareWithOrganisation()">Share with organisation</button>
                </div>
            </div>
    </div> 
    <div class="modal fade analysis-modals" id="changeName-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="loginmodal-container password-container">
                <h1>Change the name of your analysis</h1>
                <div>
                    <input type="text" id="analysisName" ng-model="newName" placeholder="{{analysisName}}" />
                    <button ng-click="changeName()" style="width: 100%;" class="login loginmodal-submit">Change name</button>
                </div>
            </div>
    </div>
    </div>