<div class="col-lg-12 bgsection-2 fillHeight bigpadding" style="min-width: 840px;">
    
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  bhoechie-tab-container">
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
            <div class="list-group">
                <a href="#" id="CANOPY" class="list-group-item disabled blurless text-center">
                    <h4 class="glyphicon glyphicon-plane"></h4><br />Canopy
                </a>
                <a href="#" id="KMEANS" class="list-group-item disabled blurless text-center">
                    <h4 class="glyphicon glyphicon-road"></h4><br />Kmeans
                </a>
                <a href="#" id="EM" class="list-group-item disabled blurless text-center">
                    <h4 class="glyphicon glyphicon-home"></h4><br />EM
                </a>
                <a href="#" id="SOM" class="list-group-item disabled blurless text-center">
                    <h4 class="glyphicon glyphicon-cutlery"></h4><br/>SOM
                </a>
                <a href="#" id="XMEANS" class="list-group-item disabled blurless text-center">
                    <h4 class="glyphicon glyphicon-cutlery"></h4><br />XMEANS
                </a>
                
            </div>
        </div>
        <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
            <div class="bhoechie-tab-content" id="CANOPY_CONTENT">
                <center>
                    <!--<div angucomplete-alt
                         id="ex1"
                         placeholder="Search solvent"
                         maxlength="50"
                         pause="100"
                         selected-object="selectedSolvent"
                         local-data="solvents"
                         search-fields="Name"
                         title-field="Name"
                         minlength="1"
                         input-class="form-control form-control-small"
                         match-class="highlight"
                         clear-selected="true"></div>-->
                    <div class="div-overlayed" style="height: 300px; width: 100%;">
                        
                        <div id="chartContainer_CANOPY" style="height: 100%; width: 100%;">
                        </div>
                        <div id="overlay_CANOPY" >
                            <!--<div style="margin-top: 140px;height: 50px; width: 50px; text-align: center;vertical-align: middle; line-height: 50px;" class="circle" ng-if="solventsInCluster !== undefined">Center</div>
                            <div ng-repeat="solvent in solventsInCluster" style="margin-top: 150px;">
                                <div class="circle" id="{{solvent.CasNumber}}" name="{{solvent.DistanceToClusterCenter}}" ng-style="{'margin-left': solvent.DistanceToClusterPercentage + '%'}" ng-click="solventClick($event)"></div>
                            </div>
                            <p>{{naam}}</p>-->
                            
                        </div>
                    </div>
                </center>
            </div>
            <!-- train section -->
            <div class="bhoechie-tab-content" id="KMEANS_CONTENT">
                <center>
                    <div angucomplete-alt
                         id="ex1"
                         placeholder="Search solvent"
                         maxlength="50"
                         pause="100"
                         selected-object="selectedSolvent"
                         local-data="solvents"
                         search-fields="Name"
                         title-field="Name"
                         minlength="1"
                         input-class="form-control form-control-small"
                         match-class="highlight"
                         clear-selected="true"></div>

                    <div class="div-overlayed" style="height: 300px; width: 100%;">

                        <div id="chartContainer_KMEANS" style="height: 100%; width: 100%;">
                        </div>
                        <div id="overlay_KMEANS"></div>
                    </div>
                </center>
            </div>

            <!-- hotel search -->
            <div class="bhoechie-tab-content" id="EM_CONTENT">
                <center>
                    <div angucomplete-alt
                         id="ex1"
                         placeholder="Search solvent"
                         maxlength="50"
                         pause="100"
                         selected-object="selectedSolvent"
                         local-data="solvents"
                         search-fields="Name"
                         title-field="Name"
                         minlength="1"
                         input-class="form-control form-control-small"
                         match-class="highlight"
                         clear-selected="true"></div>

                    <div class="div-overlayed" style="height: 300px; width: 100%;">

                        <div id="chartContainer_EM" style="height: 100%; width: 100%;">
                        </div>
                        <div id="overlay_EM"></div>
                    </div>
                </center>
            </div>
            <div class="bhoechie-tab-content" id="SOM_CONTENT">
                <center>
                    <div angucomplete-alt
                         id="ex1"
                         placeholder="Search solvent"
                         maxlength="50"
                         pause="100"
                         selected-object="selectedSolvent"
                         local-data="solvents"
                         search-fields="Name"
                         title-field="Name"
                         minlength="1"
                         input-class="form-control form-control-small"
                         match-class="highlight"
                         clear-selected="true"></div>

                    <div class="div-overlayed" style="height: 300px; width: 100%;">
                        <div id="chartContainer_SOM" style="height: 100%; width: 100%;">
                        </div>
                        <div id="overlay_SOM"></div>
                    </div>
                </center>
            </div>
            <div class="bhoechie-tab-content" id="XMEANS_CONTENT">
                <center>
                    <div angucomplete-alt
                         id="ex1"
                         placeholder="Search solvent"
                         maxlength="50"
                         pause="100"
                         selected-object="selectedSolvent"
                         local-data="solvents"
                         search-fields="Name"
                         title-field="Name"
                         minlength="1"
                         input-class="form-control form-control-small"
                         match-class="highlight"
                         clear-selected="true"></div>

                    <div class="div-overlayed" style="height: 300px; width: 100%;">
                        <div id="chartContainer_XMEANS" style="height: 100%; width: 100%;">
                        </div>
                        <div id="overlay_XMEANS"></div>
                    </div>
                </center>
            </div>
        </div>
        
    </div>
    <svg></svg>

    
   <!-- <div class="centered-container-big padding-none">
        
        <label>Change name</label>
        <input type="text" id="analysisName" ng-model="newName" placeholder="{{analysisName}}" />
        <button ng-click="changeName()">Change name</button>

        
            <div ng-repeat="model in models">
                
            <div id="{{model.Model.AlgorithmName}}" class="tab-content" ng-class='{current:$first}'>
                    <a class="button btn-sm">{{model.Model.AlgorithmName}}</a>
                        <div class="panel-group" id="accordion-{{model.Model.AlgorithmName}}" >
                    <div ng-repeat="cluster in model.Model.Clusters" ng-init="init(model.Model.AlgorithmName)">
                                <div class="panel panel-default" style="background: none">
                                    <div class="panel-heading" style="background: none">
                                        <h4 class="panel-title">
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{cluster.Number}}" style="border: none; width: 100%; text-align: left" >
                                                Cluster {{cluster.Number}}
                                            </button>
                                        </h4>
                                    </div>
                                    <div id="{{cluster.Number}}" class="panel-collapse collapse">
                                        <div class="panel-body" style="width: 100%; max-height: 150px; overflow: scroll; overflow-x: hidden;">
                                            <div ng-repeat="solvent in cluster.Solvents" >
                                                <div id="{{model.Model.AlgorithmName}}-{{solvent.CasNumber}}" name="{{cluster.Number}}">
                                                    Solvent: {{solvent.Name}} ({{solvent.CasNumber}}) has distance to cluster center: {{solvent.DistanceToClusterCenter | number:3}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div ng-repeat="distance in cluster.DistanceToClusters">
                        Distance to cluster {{distance.ToClusterId}} : {{distance.Distance}}
                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    </div>