<div ng-controller="AnalysisController as analysis" class="col-lg-12 bgsection-2 fillHeight bigpadding">

    <div class="centered-container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h1 class="margin-top-0 text-primary wow fadeInDown">Select the algorithms</h1>
                            <hr class="primary">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-4 wow fadeInLeft text-center">
                            <div class="box-icon rotate" id="Canopy" name="Canopy" ng-click="changeColor($event)">
                                <i class="fa fa-cogs fa-4x"></i>
                            </div>
                            <h3>Canopy</h3>
                        </div>

                        <div class="col-sm-4 wow fadeInLeft text-center">
                            <div class="box-icon rotate" id="Cobweb" name="Cobweb" ng-click="changeColor($event)">
                                <i class="fa fa-shield fa-4x"></i>
                            </div>
                            <h3>Cobweb</h3>
                        </div>

                        <div class="col-sm-4 wow fadeInLeft text-center">
                            <div class="box-icon rotate" id="KMeans" name="KMeans" ng-click="changeColor($event)">
                                <i class="fa fa-tachometer fa-4x"></i>
                            </div>
                            <h3>KMeans</h3>
                        </div>

                    </div>

        <div class="row" style="margin-top: 50px;">

            <div class="col-sm-4  wow fadeInRight text-center">
                <div class="box-icon rotate" id="SOM" name="SOM" ng-click="changeColor($event)">
                    <i class="fa fa-sitemap fa-4x"></i>
                </div>
                <h3>Self Organising Map</h3>
            </div>

            <div class="col-sm-4 wow fadeInRight text-center">
                <div class="box-icon rotate" id="XMeans" name="XMeans" ng-click="changeColor($event)">
                    <i class="fa fa-xing fa-4x"></i>
                </div>
                <h3>XMeans</h3>
            </div>

            <div class="col-sm-4 wow fadeInRight text-center">
                <div class="box-icon rotate" id="EM" name="EM" ng-click="changeColor($event)">
                    <i class="fa fa-wrench fa-4x"></i>
                </div>
                <h3>Expectation Maximization</h3>
            </div>

        </div>
        <div>
            <button disabled="disabled" style="float: right; margin-top: 50px; font-size: 20px; background: none; border: none;">Next <i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </div>
        </div>

    </div>
