<div ng-controller="AnalysisController as analysis" class="col-lg-12 bgsection-2 fillHeight bigpadding">

    <div class="centered-container" >
        <div class="show-container">
            <div class="progress" id="progressBar">

                <div class="progress-bar" style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>

            </div>

        </div>
        <div class="padding-container" ng-if="algorithms===undefined">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="margin-top-0 text-primary wow fadeInDown">Select your algorithms</h1>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center" style="margin-top: 40px">
                    <div class="box-icon rotate" id="Canopy" name="Canopy" ng-click="changeColor($event)">
                        <i class="fa fa-cogs fa-4x"></i>
                    </div>
                    <h3>Canopy</h3>
                </div>
                <div class="col-lg-4 text-center" style="margin-top: 40px">
                    <div class="box-icon rotate" id="KMeans" name="KMeans" ng-click="changeColor($event)">
                        <i class="fa fa-tachometer fa-4x"></i>
                    </div>
                    <h3>KMeans</h3>
                </div>
                <div class="col-lg-4 text-center blur" style="margin-top: 40px">
                    <div class="box-icon rotate" id="Cobweb" name="Cobweb" ng-click="changeColor($event)">
                        <i class="fa fa-shield fa-4x"></i>
                    </div>
                    <h3>Cobweb</h3>
                </div>

                

            </div>

            <div class="row">
                <div class="col-lg-4 text-center" style="margin-top: 40px">
                    <div class="box-icon rotate" id="XMeans" name="XMeans" ng-click="changeColor($event)">
                        <i class="fa fa-xing fa-4x"></i>
                    </div>
                    <h3>XMeans</h3>
                </div>
                <div class="col-lg-4 text-center" style="margin-top: 40px">
                    <div class="box-icon rotate" id="SOM" name="SOM" ng-click="changeColor($event)">
                        <i class="fa fa-sitemap fa-4x"></i>
                    </div>
                    <h3>Self Organising Map</h3>
                </div>

                

                <div class="col-lg-4 text-center" style="margin-top: 40px">
                    <div class="box-icon rotate" id="EM" name="EM" ng-click="changeColor($event)">
                        <i class="fa fa-wrench fa-4x"></i>
                    </div>
                    <h3>Expectation Maximization</h3>
                </div>

            </div>
            <div>
                <a ng-class="btnclass" ng-disabled="disabled" ng-click="startAnalysis()">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="padding-container" ng-if="algorithms!==undefined">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="margin-top-0 text-primary wow fadeInDown">Select your training set</h1>
                    <hr class="primary">
                </div>
            </div>
            <div>
                <div id="mainbox">
                    <div class="card" ng-repeat="model in algorithms" id="{{model.DataSet}}" name="{{model.Id}}" ng-click="selectModel($event)">
                        <p class="card-title">Training set:<br/>
                        </p>
                        <p>{{model.NumberOfFeatures}} Features</p>
                        <p>{{model.NumberOfSolvents}} Solvents</p>

                    </div>
                    
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-top: 24px;">
                    <h1 class="text-primary wow fadeInDown" >Enter a unique name</h1>
                    <hr class="primary">
                </div>
            </div>
            <div style="text-align: center">
                <p>{{errorMessage}}</p>
                <input type="text" class="input-analyse-name" ng-model="analysisName" placeholder="Name for your analysis (Required)" ng-change="setName(analysisName)"/>
            </div>
            <div>
                <a ng-class="btnclass" ng-disabled="modelDisabled" ng-click="showAlgorithms()">Start Solvent Cluster <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div>
                <a class="button-right pull-left" ng-click="previous()">Back <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                
            </div>
        </div>
        
    </div>
    
        </div>
