<div class="col-lg-12 bgsection-2 fillHeight bigpadding">

<div class="centered-container-admin">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="margin-top-0 text-primary wow fadeInDown">Home page of {{organisation.Name}}</h2>
            <div style="float: right;">
                <a title="add member" style="margin-right: 20px;" href="#" data-toggle="modal" data-target="#add-member-modal" ng-if="organiser"><i style="color: white; cursor: pointer" class="fa fa-plus-square fa-2x" aria-hidden="true"></i></a>
                <a title="delete organisation" style="margin-right: 20px;" href="#" data-toggle="modal" data-target="#delete-organisation" ng-if="organiser"><i style="color: white; cursor: pointer" class="fa fa-times fa-2x" aria-hidden="true"></i></a>
                <a title="leave" style="margin-right: 20px;" href="#" data-toggle="modal" data-target="#leave-modal" ng-if="organiser === false"><i style="color: white; cursor: pointer" class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
            </div>
            <hr class="primary">
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-4 padding-less">
            <div class="admin-card col-lg-12 col-md-12">
                <div class="profile-container">
                    <input type="file" id="logo" name="logo" style="display: none" ng-file-select="onFileSelect($files)" />
                    <img title="logo" class="organisation-logo" src="{{imageSrc}}" style="width: 100%; height: 100%; cursor: pointer;" ng-click="triggerUpload()"/>

                </div>
            </div>
        </div>
        <div class="col-lg-4 padding-less">
            <div class="admin-card col-lg-12">
                <div class="text-center" style="margin-top: 5px;">
                    <div class="circle-container" id="circle-members"></div>
                    <p style="font-size: 12px;">
                        % members you have added<br/>({{members.length}} members)
                    </p>
                    <div>
                        <p>
                            <h1 style="color: orange">{{analyses.length || "0"}}</h1> Cluster analyses</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 padding-less">
            <div class="admin-card col-lg-12">
                <p class="admin-card-title">Solvent Cluster Trend</p>
                <div id="chartCont" class="chart-container-admin">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-12">
            <div class="admin-card col-lg-12 col-md-12" style="height: 450px;">
                <p class="admin-card-title" style="margin: 0">Cluster Analyses</p>
                <div id="myCarousel" class="carousel slide" style="height: 100%">
                    <ol class="carousel-indicators" >
                        <li ng-repeat="slide in slideShow" data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{active:$first}"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner" >
                        <div class="item" ng-class="{active:$first}" ng-repeat="slide in slideShow">
                            <div class="analysis-card-blog-style-1">
                                <div ng-repeat="analysis in slide">
                                    <div class="col-lg-3" id="{{analysis.Id}}" name="{{analysis.Id}}" ng-click="selectAnalysis($event)">
                                        <div class="analysis-card-post">
                                            <div class="analysis-card-post-image">
                                                <div class="analysis-card-overlay"></div>
                                                <img ng-src="{{analysis.image}}" alt="Image">
                                            </div>
                                            <div class="analysis-card-post-text">
                                                <h3>
                                                    <a href="#">{{analysis.Name}}</a>
                                                </h3>
                                                <p>{{analysis.CreatedBy.Email}}</p>

                                                <p>{{analysis.NumberOfSolvents}} Solvents</p>
                                            </div>
                                            <div class="analysis-card-post-meta">
                                                #{{analysis.Id}}<br/>
                                                <i class="fa fa-clock-o"></i> {{analysis.DateCreated}} ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>



                <!--<div class="analysis-card-blog-style-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3" ng-repeat="analysis in analyses" id="{{analysis.Id}}" name="{{analysis.Id}}" ng-click="selectAnalysis($event)">
                                <div class="analysis-card-post">
                                    <div class="analysis-card-post-image">
                                        <div class="analysis-card-overlay"></div>
                                        <img ng-src="{{analysis.image}}" alt="Image">
                                    </div>
                                    <div class="analysis-card-post-text">
                                        <h3>
                                            <a href="#">{{analysis.Name}}</a>
                                        </h3>
                                        <p>{{analysis.CreatedBy.Email}}</p>

                                        <p>{{analysis.NumberOfSolvents}} Solvents</p>
                                    </div>
                                    <div class="analysis-card-post-meta">
                                        #{{analysis.Id}}<br/>
                                        <i class="fa fa-clock-o"></i> {{analysis.DateCreated}} ago
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-12">
            <div class="admin-card col-lg-12 col-md-12" style="height: 250px;">
                <p class="admin-card-title" style="margin: 0">Members</p>
                <div class="about-user col-lg-2">
                    <img title="{{organisation.Organisator.Email}}" class="user-img" ng-src="{{organisation.Organisator.AvatarUrl || '/Content/Images/avatar.png'}}"/>
                    <p>{{organisation.Organisator.Firstname}} {{organisation.Organisator.Lastname}}</p>
                </div>
                <div class="about-user col-lg-2" ng-repeat="member in members">
                    <img title="{{member.Email}}" class="user-img" ng-src="{{member.AvatarUrl || '/Content/Images/avatar.png'}}"/>
                    <p>{{member.Firstname}} {{member.Lastname}}</p>
                </div>


            </div>
        </div>
    </div>
</div>
    </div>
<div class="modal fade" id="add-member-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="loginmodal-container password-container">
        <h1>Add a member to your organisation</h1>
        <div>
            {{messageNewMember}}
            <input style="color: black; width: 100%;" ng-model="emailNewMember" placeholder="email address" />
            <button class="login loginmodal-submit" style="width: 100%; margin-top: 7px;" ng-click="AddMember()">Add member</button>
        </div>
    </div>
</div> 

<div class="modal fade" id="leave-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="loginmodal-container password-container">
        <h1>Are you sure you want to leave this organisation?</h1>
        <div>
            <button class="login loginmodal-submit" style="width: 40%; margin-top: 7px; margin-right: 20px; margin-left: 20px;" ng-click="LeaveOrganisation()">Yes</button>
            <button class="login loginmodal-submit" style="width: 40%; margin-top: 7px;" ng-click="closeModal()">No</button>
        </div>
    </div>
</div> 

<div class="modal fade" id="delete-organisation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="loginmodal-container password-container">
        <h1>Are you sure you want to delete this organisation?</h1>
        <div>
            <button class="login loginmodal-submit" style="width: 40%; margin-top: 7px; margin-right: 20px; margin-left: 20px;" ng-click="DeleteOrganisation()">Yes</button>
            <button class="login loginmodal-submit" style="width: 40%; margin-top: 7px;" ng-click="closeModal()">No</button>
        </div>
    </div>
</div> 